/*
 * manageReports.css
 * stylesheet for report list page elements
 * Programmed by James P. Smith March 2013  
 * */

/*==============Report List Start===============*/
/*
#content {
	color: #FFF;
	margin-left: 10%; 
	margin-right: 10%; 
	min-height: 62%; 
	text-align: center;
	
}
*/
#Button_NewReport {
	margin-top: 25px;
	margin-bottom: 25px;
	float: left;
	margin-left: 10%;
}

#ReportPeriod {
	margin-left: 10%;
}


#ListReports {
	width: 95%;
	margin: 0 0 2em 0;
}
/*==============Report List End===============*/