/*
 * createVar.css
 * stylesheet for var creation page
 * Programmed by James P. Smith March 2013  
 * */

/*==============Create Var Start===============*/
/*
#content {
	color: #FFF;
	margin-left: 10%; 
	margin-right: 10%; 
	min-height: 62%; 
	text-align: center;
	
}
*/
.ui-datepicker {  
    text-decoration: none;  
    background-color: #FFF;
    position: relative;
    left: -50px;
    
}  

#IneTableArea {
	text-align: center;
}

#VarInputForm table{
	margin-left: 0;
	margin-right: auto;
	clear: both;
	width: 65%;
}
#VarInputForm td{
	padding: 5px;
}
#VarInputForm input[type=text]{
	min-width: 175px !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}


#VarInputForm form{
	margin-left: 20%;
	margin-right: auto;
	width: 100%;
}

#IneList {
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	
}
/*==============Create Var End===============*/