@charset "utf-8";
/*==============Template Bracket Start=============*/
/*==============Template Bracket End===============*/


/* Main Style Sheet Developed by Excelsior Systems for
 * ClubWatch's Venue Information Management System.
 *
 * This system is NOT open source and should be treated appropriately.
 *
 * Contributing Programmers:
 *			Maxwell Clyke
 *			James Smith
 *			Justin Werre
 *			Tylor Faoro
*/


/*==============Default Styles Start=============*/
body{
	background-color: #333;	
	color: #fff;
}

p{
	/*margin-left: 10%;*/
	color: #FFF;
	font-family:Arial, Helvetica, sans-serif;
		
}

.yellow{
	color: yellow;	
}

h1 h2 h3 h4{
	color: #FFF;
	font-family:Arial, Helvetica, sans-serifl;
}

.headingDiv{
	margin-left: 35%;
	margin-bottom: 10px;
	text-align:center;
	width: 25%;
	border-bottom:groove;
	border-color: yellow;
	border-width: 3px;
}

.center{
	text-align: center;
}

.tableCenter{
	margin-left: 35%;
	margin-right: auto;
}

#error{
	margin-left: 10%;
	color: #F00;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/*==============Default Styles End===============*/

/*
 * Styles for Content Blocks of VIMS site
*/

/*==============Header Start=============*/
#header_container{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	display:box;
	position: inherit; 
	width: 75%; 
}

#topLeft {
	float: left;
	width: 24%;
	height: 100px;
	background-color: #000;
	border: solid;
	border-color: #FF0;
	border-width:1px;
	 
	
}


#topRight{
	float: left;
	width: 24%;
	background-color: #000;
	height: 100px;
	border: solid;
	border-color: #FF0; 
	border-width:1px;
}

#topRight p{
	margin-left: 25px;
}

#topLeft img{
	margin-left: 12%;
	width: 100px;
	height: 75px;
}

#topLeft p{
	margin-top: -5px;
	margin-left: 25px;
	color: #FFF;
}


#topMiddle{
	float: left;
	width: 50%;
	background-color: #000;
	height: 100px;	
	border: solid;
	border-color: #FF0; 
	border-width:1px;
}
#topMiddle h1, h2, h3, h4{
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
	color: #FFF;	
}


/*==============Header End===============*/

/*==============Content Start=============*/
#content  { 
	clear: both;
	float: left;
	margin-bottom: 25px;
	margin-left: 10%;
	margin-right: 10%; 
	width: 73.75%; 
	min-height: 62%; 
	background-color: #000; 
	border: solid; 
	border-color: #FF0; 
	border-width: 1px;
}

#leftContent{
	display: inline-block;
	position: inherit;
	float: left;
	padding: 5px;
	width: 50%;
	color: #FFF;
	border:solid;
	border-width: 1px;
	border-color: #ff0;

}

#rightContent{
	display: inline-block;
	position: inherit;
	float: left;
	width: 30%;
}

#singleContent{
	float: left;
	display: inline-block;
	width: 100%;
}

#rightContent img{
	display: inline-block;
	width: 550px;
	height: 450px;
}

/*==============Content End===============*/

/*==============Footer Start=============*/
#footer_container{
	clear: both;
	float: left;
	margin-left: 10%;
	margin-right: 10%;
	display:box;
	position:inherit; 
	width: 75%; 
}

#bottomLeft {
	float: left;
	width: 24%;
	height: 100px;
	background-color: #000;
	border: solid;
	border-color: #FF0;
	border-width:1px;	 
	
}

#bottomLeft p{
	margin-left: 10%;
	font-family:Arial, Helvetica, sans-serif;
}

#bottomRight{
	float: left;
	width: 24%;
	background-color: #000;
	height: 100px;
	border: solid;
	border-color: #FF0; 
	border-width:1px;
}


#bottomMiddle{
	float: left;
	width: 50%;
	background-color: #000;
	height: 100px;	
	border: solid;
	border-color: #FF0; 
	border-width:1px;
}

#bottomMiddle h1{
	margin-left: 15%;
	color: #FFF;	
}

#bottomMiddle p{
	font-family:Arial, Helvetica, sans-serif;
}

/*==============Footer End===============*/

/*==============Navigation Start=============*/

/*:: Admin Navigation Start ::*/
#adminNavigation{
	margin-left: 15%;
	margin-right: 10%;
	width: 100%;
}

#adminNavigation ul{
	display: inline-block; 
	list-style: none; 
	width: 75%;
	overflow: hidden;
}

#adminNavigation li{
	margin-left: 5px;
	float: left; 
	width: 18%; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 16px;
	border: solid;
	border-color: #FF0;
	background-color: #000;
	border-width: 1px;
	color: #FFF;
}

#adminNavigation a{
	display: block;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	/*margin-top: 4%;*/
	height: 30px;
	font-size:24px;
	text-decoration: none;
	color: #FF0;	
}

#adminNavigation a:hover{
	background-color: #666;
	
}

#adminNavigation a:active{
	background-color: #AAA;
}
/*:: Admin Navigation End ::*/

/*:: User Navigation Start ::*/
#userNavigation{
	margin-left: 15%;
	margin-right: 15%;
	width: 100%;
}

#userNavigation ul{
	display: inline-block; 
	list-style: none; 
	width: 75%;
	overflow: hidden;
}

#userNavigation li{
	margin-left: 5px;
	float: left; 
	width: 18%; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 16px;
	text-wrap:suppress;
	border: solid;
	border-color: #FF0;
	background-color: #000;
	border-width: 1px;
	color: #FFF;
}

#userNavigation a{
	display: block;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	/*margin-top: 4%;*/
	height: 30px;
	font-size:22px;
	text-decoration: none;
	color: #FF0;	
}

#userNavigation a:hover{
	background-color: #666;
	
}

#userNavigation a:active{
	background-color: #AAA;
}
/*:: User Navigation End   ::*/

/*:: No Navigation Start   ::*/
#noNav div{
	
}

/*:: No Navigation End     ::*/

/*==============Navigation End===============*/
{
	
}

#accountManage{	
	margin-left: 10%;
	margin-right: 0;
	margin-top: 25px;
	margin-bottom: 5%;
	color: #FFF;
}


#accountManage .button{
	margin-left: 15%;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	width: 150px;
	height: 35px;
}

#manageNews{
	
}

/*:: Form Decoration */
#content form{
	/*margin: 5px 5px 5px 5px;*/
	margin-bottom: 25px;
	margin-left: 15%;
	position:inherit;
	float: left;
	display: inline;
	padding: 2px;
	width: 100%;
	font-size:20px;
	color: #FFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#content form input{
	width: 12%;
}

#content textarea{
	width: 25%;
	height: 150px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

#content select{
	width: 13%;
}


label{
	clear:both;
	float: left;
	padding: 2px;
	width: 15%;
	font-size:20px;
	color: #FFF;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.readOnly{
	float: left;
	font-size: 20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #FF0;
	
}


.passField{
	padding: 2px;
	min-width: 25px;
	
}

/*:: Table Starts */
#content table{
	position: inherit;
	margin-left: 10%;
	margin-right: 5%;
	margin-bottom: 5%;
	margin-right: 5%;
	float:none;
	display:table;
	width: 90%;
	padding: 10px;
	color: #FFF;
	text-align: center;	
}

#content .newNewsButton{
	position: inherit;
	margin-left: 10%;
}

#content td{	
	width: 15%;
	border: solid;
	border-color: #FF0;
	border-width: 1px;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;

}
#content th{
	margin-right: 5px;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #999;
	text-transform:uppercase;	
}



#content .hiddenEffects{
	border: none;
	width: 10%;
	
	
	
}

#content .helperTray{
	float: left;
	display:inline;
	height: auto;
	width: auto;
	text-align:left;
}

#subhead h3{
	float: left;
	margin-left: 10%;
	margin-bottom: 3%;
	
}

#content a{
	text-decoration: none;	
}




