/*
 * manageReports.css
 * stylesheet for report list page elements
 * Programmed by James P. Smith March 2013  
 * */

/*==============Report List Start===============*/
#content {
	color: #FFF;
	margin-left: 10%; 
	margin-right: 10%; 
	min-height: 62%; 
	text-align: center;
	
}

#Button_NewReport {
	float: left;
	margin: 1.8em 0 0 1.8em;
}
#ReportPeriod {
	margin: 3em 0 0 0;
}


#ListReports {
	width: 95%;
	margin: 0 0 2em 0;
}
/*==============Report List End===============*/